<h1>View/Update <%=@band.name() %> </h1>

<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Change band name:</label>
  <input id="name" name="name" text="text">
  <button type="submit">Change</button>
</form>

<% if @venues.any?() %>
<h3>Add a venue for this band:</h3>
  <form action="/bands/<%= @band.id %>" method="post">
    <label for="venue_id">Select a Venue</label>
    <select id="venue_id" name="venue_id" type="text">
    <% @venues.each() do |venue| %>
      <option value="<%= venue.id()%>"> <%= venue.name() %> </option>
    <% end %>
  </select>
  <button type="submit">Add venue</button>
  </form>
<% else %>
  There are no venues yet! <a href="/venues">Create some</a>
<% end %>

<% if @band.venues.any? %>
  <h3>This band's current venues:</h3>
  <ul>
  <% @band.venues.each do |venue| %>
    <li><%= venue.name %></li>
  <% end %>
  </ul>
<% else %>
  <p>The band has no venues it's playing at yet. </p>
<% end %>

<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete band</button>
</form>

<p><a href="/venues">Add venues</a></p>
<p><a href="/bands">Add bands</a></p>
<p><a href="/">Main Page</a></p>
